.simple-card {
	margin: 1rem;
	width: 20rem;
	height: auto;
	border: 0.1rem solid rgba(0, 0, 0, 0.096);
	margin: auto;
}

.simple-card h1 {
	padding: 0.5rem;
}

.simple-card p {
	padding: 0.5rem;
}

.img-card {
	margin: 1rem;
	width: 20rem;
	height: auto;
	border: 0.1rem solid rgba(0, 0, 0, 0.096);
	margin: auto;
}

.img-card img {
	width: 20rem;
}
.img-card h1 {
	padding: 1rem;
	padding-bottom: 0.5rem;
}
.img-card p {
	padding-top: 0.5rem;
	padding: 1rem;
}

.img-card .avatar img {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	padding: 0.5rem;
}

.img-card .avatar {
	display: flex;
}

.img-card h2 {
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img-card .avatar h2 {
	font-weight: 400;
}

.eCommerce-card img {
	width: 14rem;
}

.eCommerce-card {
	width: 14rem !important;
	border: 0.1rem solid rgba(0, 0, 0, 0.096);
	margin: auto;
	width: 50%;
}
.eCommerce-card h1 {
	font-size: medium;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
}
.eCommerce-card h2 {
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	font-size: small;
}

.eCommerce-card .badge-primary {
	background-color: var(--secondary-color);
	padding: 0.2rem;
	border: none;
	color: white;
	width: max-content;
	position: relative;
	bottom: 22rem;
	font-size: small;
	font-weight: 300;
}

.eCommerce-card .btn-primary {
	background-color: var(--primary-color);
	color: white;
	border: none;
}

.eCommerce-card .btn {
	padding: rem;
	border-radius: 0.5rem;
	margin: 0.5rem;
	font-size: medium;
}
