<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast - pigment</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/stackoverflow-dark.min.css"
        integrity="sha512-9F4w40pQJloG92QgszKGVFODKAkZ70xtcDe2IPcVELXMmkxkojfL6jcP6XSf1NTf4yVc3K0T9h/0gPp8bVIn6w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />
    <link rel="stylesheet" href="/CSS/docs.css" />
    <link rel="stylesheet" href="/CSS/nav.css" />
    <link rel="stylesheet" href="/CSS/component.css" />

</head>

<body>

    <div class="mobile-nav-button">
        <div class="brand">
            <h1><a href="/index.html">Pigment</a></h1>

        </div>
        <button class="navigation"><i class="fas fa-bars fa-2x"></i></button>

    </div>

    <div class="desktop-main-nav">
        <div class="brand">
            <h1><a href="/index.html">Pigment</a></h1>
        </div>

        <div class="docs">
            <h3><a href="/docs.html">Docs</a></h3>
            <span>v.1.0.0</span>
        </div>

    </div>

    <div class="row ">
        <div class="side-nav" id="side-nav">
            <ul>
                <li><a href="/Components/Avatar/avatar.html">Avatar</a></li>
                <li><a href="/Components/Alert/alert.html">Alert</a></li>
                <li><a href="/Components/Badge/badge.html">Badge</a></li>
                <li><a href="/Components/Button/button.html">Button</a></li>
                <li><a href="/Components/Card/card.html">Card</a></li>
                <li><a href="/Components/Image/image.html">Image</a></li>
                <li><a href="/Components/Input/input.html">Input</a></li>
                <li><a href="/Components/Lists/list.html">Lists</a></li>
                <li><a href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li><a href="/Components/Modal/modal.html">Modal</a></li>
                <li><a href="/Components/Rating/rating.html">Rating</a></li>
                <li><a href="/Components/Grids/grid.html">Grid</a></li>
                <li><a href="/Components/TextUtilities/textUtilities.html">Text Utilities</a></li>
                <li><a href="/Components/Toast/toast.html">Toast</a></li>
            </ul>
        </div>

        <div class="show-content">
            <section>
                <h1 class="h1-docs">Toast</h1>
                <p class="p-docs">Toasts are used to display notifications on user interaction </p>
                <div class="example-border">
                    <div class="toast center">
                        <button class="btn toast-btn btn-default btn-info">Toast me </button>
                    </div>
                    <div class="toast-hide">
                        <p class="toast-content center">👋 Hi , "I am a toast"</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="highlight-code">
                    <pre>
      <code class="html"  id="toast-code" >
 &lt;div class="toast center"&gt;
  &lt;button class="btn toast-btn btn-default btn-info"&gt;Info&lt;/button&gt;
 &lt;/div&gt;
 &lt;div class="toast-hide"&gt;
  &lt;p class="toast-content center"&gt;👋 Hi , "I am a toast"&lt;/p&gt;
 &lt;/div&gt;
      </code>
      </pre>
                </div>
            </section>
            <div class="copy">
                <button class="copy-btn" data-clipboard-target="#toast-code">
                    <i class="far fa-copy"></i>
                </button>
            </div>
        </div>
        <footer class="footer">
            <div class="center">
                <p> 2021 | Inspired by <span><a href="https://getbootstrap.com/"> Bootstrap</a></span></p>
            </div>
            <div class="center social-links">
                <a href="https://twitter.com/thekumaraswamy"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/kumaraswamya/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/thekumaraswamy/"><i class="fab fa-instagram"></i></a>
            </div>
        </footer>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="/main.js"></script>
    <script src="/Components/Component.js"></script>
</body>

</html>