@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

@import url(./colors.css);
@import url(../Components/Alert/alert.css);
@import url(..//Components/Avatar/avatar.css);
@import url(..//Components/Badge/badge.css);
@import url(..//Components/Button/button.css);
@import url(..//Components/Card/card.css);
@import url(..//Components/Grids/grid.css);
@import url(..//Components/Image/image.css);
@import url(..//Components/Input/input.css);
@import url(..//Components/Lists/list.css);
@import url(..//Components/Modal/modal.css);
@import url(..//Components/Navigation/navigation.css);
@import url(..//Components/Rating/rating.css);
@import url(..//Components/TextUtilities/textUtilities.css);
@import url(..//Components/Toast/toast.css);
