.pigment-h1 {
	font-size: 2.75rem;
	padding: 1rem;
}
.pigment-h2 {
	font-size: 2.25rem;
	padding: 1rem;
}
.pigment-h3 {
	font-size: 1.75rem;
	padding: 1rem;
}
.pigment-h4 {
	font-size: 1.5rem;
	padding: 1rem;
}

.pigment-h5 {
	font-size: 1.25rem;
	padding: 1rem;
}
.pigment-h6 {
	font-size: 1rem;
	padding: 1rem;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grey {
	color: grey;
}

.small {
	font-size: 0.75rem;
}
